<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Processing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Запрос на выдачу кредита</h1>
    <form method="POST">
        <label for="fio">ФИО:</label>
        <input type="text" id="fio" name="fio" required><br><br>
        <label for="annual_income">Общий доход:</label>
        <input type="text" id="annual_income" name="annual_income" required><br><br>
        <label for="age">Возраст:</label>
        <input type="text" id="age" name="age" required><br><br>
        <label for="num_bank_accounts">Количество банковских счетов:</label>
        <input type="text" id="num_bank_accounts" name="num_bank_accounts" required><br><br>
        <label for="outstanding_debt">Сумма долгов:</label>
        <input type="text" id="outstanding_debt" name="outstanding_debt" required><br><br>
        <input type="submit" value="Submit">
    </form>
    {% if credit_score is not none %}
        <p>{{ credit_score }}</p>
    {% endif %}
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
</body>
</html>
