<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Model</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Изменение модели</h1>
    <form method="POST" action="/change_model">
        <label for="fio">ФИО:</label>
        <input type="text" id="fio" name="fio" required><br><br>
        <input type="submit" value="Отправить модель для проверки">
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</body>
</html>
